<!DOCTYPE html>
<html>
  <head>
    <title>TrainerApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class='alert alert-<%= "#{name}" %>' role="alert">
          <a href="#" class="close" data-dismiss='alert'>&times;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
